@tailwind base;
@tailwind components;
@tailwind utilities;

.burgerBg {
    background-image: url('../../../public/assets/burger-bg.svg');
    background-size: cover;
}

.Navigate {
    height: 100vh;
}
